@inject NavigationManager navigationManager


<button  @onclick="GoToHome" class="btn btn-outline-primary home-button">
    Salty
</button>


@code {

    private void GoToHome()
    {
        navigationManager.NavigateTo("/");
    }

}
